<meta charset="utf-8">

{% include analytics.html %}

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- Gotham Fonts -->
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6635416/7421612/css/fonts.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/tiny-slider.css">

<link href='/favicon.ico' rel='shortcut icon' type='image/png'>

<script type="text/javascript">
  //Force styles to load before running document.ready functions
</script>
