<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Hotel",
    "name": "OYO Times Square",
    "url": "https://www.oyotimessquare.com/",
    "logo": "https://res.cloudinary.com/traveltripperweb/raw/upload/v1571736588/rtctv0u7lvpcoo9xdqlu.svg",
    "image": "https:https://res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_1920,w_1920/v1565603172/wmnfab7tfsiozwrcggmh.jpg",
    "description": "The OYO Hotel Times Square NYC (formerly Night Times Square) is a modern boutique hotel in Midtown Manhattan West offering comfortable rooms.",
    "telephone": "212-768-3700",
    "email": "reservations@oyotimessquare.com",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "157 West 47th Street",
        "addressLocality": "New York",
        "addressRegion": "NY",
        "postalCode": "10036",
        "addressCountry": "USA"
    }
}
</script>
