// Shared Page Elements
// ==========================================================================
.skip-main {
  position: absolute;
  top: auto;
  left: -999px;
  z-index: -999;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus, &:active {
    top: auto;
    left: auto;
    z-index: 99999;
    width: 30%;
    height: auto;
    margin: 10px 35%;
    padding: 5px;
    overflow: auto;
    font-size: 1.2em;
    color: $white;
    text-align: center;
    background-color: $black;
    border: 4px solid #ff0;
    border-radius: 15px;
  }
}

// Top Banner

.top-banner {
  width: 100%;
  max-width: 100%;
  padding: 6px 30px;
  text-align: center;
  background-color: $primary;
  a,
  p {
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
  }

  p {
    font-family: $family-primary;
    font-size: 12px;
    line-height: 18px;
    color: $white;
    letter-spacing: 1px;
    @include media-breakpoint-down(xs) {
      margin-bottom: 2px;
    }
  }

  .top-banner__close-btn {
    position: absolute;
    top: 9px;
    right: 0;
    font-size: 12px;
    color: $white;
    opacity: .5;
    @include transition(.3s);
    &:hover {
      opacity: 1;
    }
  }
}

//Other Rooms Carousel Starts Here
.other-items-slider {
  margin: 0;
  padding: 50px 0;
  background-color: $border-clr;
  .h3 {
    margin-bottom: 30px;
    text-align: center;
  }
  &__container {
    @include make-container;
    position: relative;
    max-width: 1220px;
    padding-bottom: 30px;
    @include media-breakpoint-up(lg) {
      padding-right: 25px;
      padding-left: 25px;
    }
    .items-carousel {
      height: inherit;
    }
    .tns-nav {
      bottom: -50px;
      button {
        width: 10px;
        height: 10px;
        margin: 0 6px;
        padding: 0;
        background-color: $white;
        border: 0;
        @include transition(.3s);
        &:hover {
          background-color: $white;
        }
      }
    }
  }
  &__item {
    height: 100%;
    &__inner {
      height: 100%;
      background-color: $white;
    }
    &__image-section {
      position: relative;
      height: 180px;
      @include media-breakpoint-up(sm) {
        height: 260px;
      }
      .objectfit {
        height: 100%;
      }
    }
    &__content-section {
      min-height: auto;
      padding: 24px;

      @include media-breakpoint-up(sm) {
        min-height: 200px;
      }
      p {
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .h5 {
        width: 90%;
        margin-bottom: 20px;
        overflow: hidden;
        line-height: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .overline {
        position: relative;
        padding-bottom: 30px;
        &::after {
          position: absolute;
          right: 0;
          bottom: 13px;
          left: 0;
          width: 50px;
          height: 1px;
          margin: 0 auto;
          content: '';
          background-color: $gray-200;
        }
      }
    }
  }
  .home-slider-control {
    .prev-slide {
      left: 0;
      @media screen and (min-width: 1280px) {
        left: -20px;
      }
    }
    .next-slide {
      right: 0;
      @media screen and (min-width: 1280px) {
        right: -20px;
      }
    }
  }
  &__view-all {
    text-align: center;
  }
  .tns-inner {
    height: auto !important;
  }
}

.inner-hero {
  height: 320px;
}

.static-content {
  .h4 {
    margin-bottom: 10px;
  }
  ul, ol {
    li {
      font-family: $family-primary;
      font-size: $display8-size;
      font-weight: $display2-weight;
      line-height: 24px;
      color: $secondary;
      letter-spacing: 1px;

      a {
        color: inherit;

        &:hover {
          color: $primary;
          text-decoration: underline;
        }
      }
    }
  }
}
