---
layout: default
---
<section class="home-hero-slider">
  <div class="home-hero-slider__inner">
    {% assign homeSlides = site.data._models.home-slider | sort: "order" | reverse %}
    {% for homeSlide in homeSlides %}
      <div class="home-hero-slider__item">
        <div class="home-hero-slider__image objectfit">
          <img src="{{homeSlide.image.url_xlarge}}" alt="{{homeSlide.image.alt}}">
        </div>
        <div class="home-hero-slider__logo objectfit">
          <img src="//res.cloudinary.com/traveltripperweb/image/upload/c_limit,h_2500,w_2500/v1565608401/bh704eqrcwffd8x2okse.png" alt="Gates Logo">
        </div>
        <div class="home-hero-slider__social-links">
          <p class="overline overline--small light">Follow Us</p>
          <ul>
            <li><a href="https://www.facebook.com/NightHotelTSQ">
              <i class="fab fa-facebook-f"></i>
            </a></li>
            <li><a href="https://twitter.com/NightHotelTSQ">
              <i class="fab fa-twitter"></i>
            </a></li>
            <li><a href="https://instagram.com/night_hotels">
              <i class="fab fa-instagram"></i>
            </a></li>
            <li><a href="https://plus.google.com/104877954400890497245/posts">
              <i class="fab fa-google-plus-g"></i>
            </a></li>
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="home-slider-control">
    <a href="javascript:void(0);" id="homeSliderPrev" class="prev-slide" title="Previous Slide" tabindex="-1">
      <span class="prev">
        <i class="fal fa-chevron-left"></i>
      </span>
    </a>
    <a href="javascript:void(0);" id="homeSliderNext" class="next-slide" title="Next Slide" tabindex="-1">
      <span class="next">
        <i class="fal fa-chevron-right"></i>
      </span>
    </a>
  </div>
</section>

<section class="rooms-carousel">
  <div class="rooms-carousel__inner">
    {% assign rooms = site.data._models.rooms | sort: "order" | reverse %}
    {% assign sync = true %}
    {% for room in rooms limit:4 %}
      {% assign featured_image = room.featured_image | default: room.images[0] %}
      <div class="rooms-carousel__item" ttweb-component="Room" data-tt-selected-room="{{room.reztrip_room_id}}">
        <div class="rooms-carousel__image objectfit" {% if sync %} ttweb-room-component="RoomPrimaryImage" {% endif %}>
          {% include components/image image=featured_image max_width=1900 %}
        </div>
        <div class="rooms-carousel__content">
          <p class="h3" {% if sync %} ttweb-room-component="RoomName" {% endif %}>{{room.name}}</p>
          <p class="rooms-carousel__content__description">{{room.short_description}}</p>
          <a class="btn btn--primary" href="/rooms/">View All Rooms</a>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="rooms-carousel__room-titles">
    <ul>
      {% for room in rooms limit:4 %}
        <li data-item="{{forloop.index0}}" class="rooms-carousel__room-titles__item {% if forloop.index == 1 %} active {% endif %}" onclick="changeRoomSlide({{forloop.index}})">
          {{room.name}}
        </li>
      {% endfor %}
    </ul>
    <a href="/rooms/">[ More +]</a>
  </div>
  <div class="home-slider-control">
    <a href="javascript:void(0);" id="roomsCarouselPrev" class="prev-slide" title="Previous Slide" tabindex="-1">
      <span class="prev">
        <i class="fal fa-chevron-left"></i>
      </span>
    </a>
    <a href="javascript:void(0);" id="roomsCarouselNext" class="next-slide" title="Next Slide" tabindex="-1">
      <span class="next">
        <i class="fal fa-chevron-right"></i>
      </span>
    </a>
  </div>
</section>

<section class="pages-slider">
  <div class="pages-slider__inner">
    {% assign pagesSlides = site.data._models.pages-carousel | sort: "order" | reverse %}
    {% for pagesSlide in pagesSlides %}
      <div class="pages-slider__item">
        <div class="pages-slider__image objectfit">
          <img src="{{pagesSlide.image.url_xlarge}}" alt="{{pagesSlide.image.alt}}">
        </div>
        <div class="pages-slider__content">
          <p class="h3">{{pagesSlide.title}}</p>
          <p class="pages-slider__content__description">{{pagesSlide.description}}</p>
          <a class="btn btn--primary" href="{{pagesSlide.button_link}}">{{pagesSlide.button_text}}</a>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="home-slider-control">
    <a href="javascript:void(0);" id="pagesSliderPrev" class="prev-slide" title="Previous Slide" tabindex="-1">
      <span class="prev">
        <i class="fal fa-chevron-left"></i>
      </span>
    </a>
    <a href="javascript:void(0);" id="pagesSliderNext" class="next-slide" title="Next Slide" tabindex="-1">
      <span class="next">
        <i class="fal fa-chevron-right"></i>
      </span>
    </a>
  </div>
</section>

{% region intro, type:mixed %}
