---
layout: default
meta_description: Get incredible New York hotel deals at the OYO, a charming boutique hotel in Midtown Manhattan West, offering comfort and style.
---

<section class="hero inner-hero mb-5" style="background-image: url('//res.cloudinary.com/traveltripperweb/image/upload/c_fit,h_1200,w_1200/v1565777457/un24l5y5x9jbz7djioec.jpg');">
  <div class="hero__title">
    <h1 class="h1" data-live-editable-type="header" data-live-editable-key="hero_title">Times Square Hotel Deals</h1>
  </div>
</section>


{% assign offer = page.data %}
{% include components/offer-detail %}
