<form action="https://submit.jotform.me/submit/{{ site.data.forms.jotform.contact-id }}/" method="post" name="form_{{ site.data.forms.jotform.contact-id }}"
    id="{{ site.data.forms.jotform.contact-id }}" accept-charset="utf-8">
    <input type="hidden" name="formID" value="{{ site.data.forms.jotform.contact-id }}">


    <div class="form-group">
      <input type="text" class="form-control" name="q1_firstName" placeholder="First Name" aria-label="Enter your First Name" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="q11_lastName" placeholder="Last Name" aria-label="Enter your Last Name" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="q3_email" placeholder="Email" aria-label="Enter your Email" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="q10_subject" placeholder="Subject" aria-label="Enter your Subject" required>
    </div>
    <div class="form-group full">
      <textarea class="form-control" name="q9_yourMessage" aria-label="Enter your comments" placeholder="Enter your comments"></textarea>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" name="" id="terms-service">
      <label class="form-check-label" for="terms-service">I agree to the <a href="/terms/">Terms of Service</a> and <a href="/privacy/">Privacy Policy</a>.</label>
    </div>


    <button type="submit" id="input_2" class="btn btn--primary">Submit</button>
    <input type="hidden" id="simple_spc" name="simple_spc" value="{{ site.data.forms.jotform.contact-id }}">

    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "{{ site.data.forms.jotform.contact-id }}-{{ site.data.forms.jotform.contact-id }}";
    </script>
</form>

<script type="text/javascript">JotForm.ownerView=true;</script>
